<div class="continer mt-5 mb-5 ">

    <div class="row">


        <div class="col-lg-6" *ngIf="menuData">
            <img src="{{menuData[0].foodImg}}" />
            <h1 class="mt-3">{{menuData[0].foodName}}</h1>
            <p>{{menuData[0].foodDetails}}</p>
            <p>{{menuData[0].foodPrice | currency:'INR'}}</p>

        </div>
        <div class="col-lg-6 col-lg-6">
            <h1>Enter your Details</h1>
            <form action="">
                <div class="form-group">
                    <label for="">Name</label>
                    <input type="text" placeholder="Name" class="form-control">
                </div>
                <br>
                <div class="form-group">
                    <label for="">Mobile</label>
                    <input type="tel" placeholder="Mobile" class="form-control">
                </div>
                <br>
                <div class="form-group">
                    <label for="">Address</label>
                    <input type="text" placeholder="Address" class="form-control">
                </div><br>
                <button class="btn btn-outline-dark">Place Order</button>&nbsp;
                <a routerLink="../menu" class="btn btn-outline-dark mb3">Back</a>
            </form>
        </div>
    </div>
</div>